# Exclude everything by default
/**/*

# Include all folders
!/**/*/

# But exclude node_modules and vendor folders anywhere
node_modules/
vendor/


# Include specific file extensions if they appear under these folders
!/public/css/**/*.css
!/public/**/*.html
!/public/js/**/*.js
!/src/scss/**/*.scss

# Ignore minified files
*.min.css
*.min.js

# Exclude these folders
/docs
/resources
